@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700&display=swap');

h1, p {
  font-family: Lato;
}

body, html {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Dosis', sans-serif;
}

button {
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  cursor:pointer;
}

main {
  margin-top: 12vh;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  justify-content: space-between;
}

li {
  margin-right: 2em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 10vh;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.login {
  width: 50vw;
  padding: 8px;
  margin: 16px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login > h3 {
  text-align: center;
}

.login > input {
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  color:black;
}

.main-button {
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  border: none;
  color: white;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.secondary-button {
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #13547a;
  text-align: center;
  color: #13547a;
  background-color: transparent;
}

.edit {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 10px;
}

.edit > input {
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  color:black;
}

.list {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 10px;
}

.list > h3 {
  margin: 0;
  margin-bottom: 8px;
}

.nav-dropdown {
  cursor: pointer;
}

.dropdown-menu {
  background: white;
  padding: 8px;
  position: absolute;
  border-radius: 8px;
  display: none;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu > span, .dropdown-menu > a {
  color: black;
  cursor: pointer;
  margin: 8px 0;
}

.nav-dropdown:hover + .dropdown-menu, .dropdown-menu:hover {
  display: flex;
  flex-direction: column;
}